{
    "rules": {
      "indent": [
          2,
          "tab"
      ],
      "semi": [
          2,
          "always"
      ],
      "no-console": "off",
      "no-unused-vars": "warn"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "globals": {
        "QueryBase": true,
        "QueryProjectionBase": true,
    },
    "extends": "eslint:recommended"
}
